<p id="notice"><%= notice %></p>

<p>
  <strong>Transaction:</strong>
  <%= @transaction_item.transaction %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @transaction_item.quantity %>
</p>

<p>
  <strong>Product:</strong>
  <%= @transaction_item.product_id %>
</p>

<p>
  <strong>Transaction type:</strong>
  <%= @transaction_item.transaction_type %>
</p>

<%= link_to 'Edit', edit_transaction_item_path(@transaction_item) %> |
<%= link_to 'Back', transaction_items_path %>
